<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12"> -->
      <body>
      <ol>
        <li>Create two new components: WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning (red color) and success (green color) messages in the component</li>
        <li>Use inline style and html for Warning content</li>
      </ol>
      <hr>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </body>
    <!-- </div>
  </div>
</div> -->
