<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My servers</h2>
      <input type="text" #serverName>&nbsp;
      <button class="btn btn-primary" (click)="onAddServer(serverName.value); serverName.value='';serverName.focus();">Add Server</button>
      <br><br>
      <ul class="list-group">
        <li 
        class="list-group-item"
        *ngFor="let server of servers; let i = index"
        (click)="onRemoveServer(i)">{{ server }}</li>
      </ul>
    </div>
  </div>
</div>

